<div class="home-callout text-center container-fluid">
    <h1>About Page.</h1>
    <p>We are DevMatch. Our Company focuses on creating an exclusive commuinty
    developers and entrepreneurs to meet.</p>
</div>